<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello World</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-warning navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">ROTAS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">CADASTRO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">AVISOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">SOBRE</a>
    </li>
  </ul>
</nav>
<br>
<div class="container">
  <img src="http://jucas.ce.gov.br/novotransporte2018/img/bus.png" class="float-right" alt="Cinque Terre">
  <h3>Hello World Bootstrap + Angular</h3><br>
  <p>Início do Projeto BusED paras disciplinas PROINT I e PAVI</p>
  <p><b>Objetivo:</b> Criar uma plataforma web voltado para os alunos do IFAL que residem no interior. O app irá conter o cadastro dos estudantes, veículos, motoristas, rotas, horários de chegada e saída e avisos em geral.</p>
  <p><b>Motivação:</b> ​A realização desse projeto é justificada pelo aumento semestral de alunos que moram na zona rural e as dificuldades que eles enfrentam para utilização do transporte escolar, como não saber ao certo que horas o ônibus passará, gerando uma situação frequente no IFAL, onde os alunos precisam sair antes do término da aula para ter certeza de que conseguirão embarcar no ônibus.</p>
</div>

</body>
</html>
