<table class="table table-hover table-light">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">CEP</th>
      <th scope="col">Nº</th>
      <th scope="col">Complemento</th>
      <th scope="col">Rua</th>
      <th scope="col">Bairro</th>
      <th scope="col">Cidade</th>
      <th scope="col">Estado</th>
      <th scope="col">Tipo</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios | async">
      <th scope="row">{{ usuario }}</th>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.email }}</td>
      <td>{{ usuario.cep }}</td>
      <td>{{ usuario.numero }}</td>
      <td>{{ usuario.complemento }}</td>
      <td>{{ usuario.rua }}</td>
      <td>{{ usuario.bairro }}</td>
      <td>{{ usuario.cidade }}</td>
      <td>{{ usuario.estado }}</td>
      <td>{{ usuario.tipo }}</td>
      <td> <a href="#">Editar</a> | <a href="#">Excluir</a> </td>
    </tr>
  </tbody>
</table>