<!DOCTYPE html>
<html>
  <body>
    <div class="text-center">
      <br><br><br>
      <img src="https://2.bp.blogspot.com/-0YPFcWHPmng/Wmh-T3j2bhI/AAAAAAAAjG8/OCGuh44M7j0baKbcKZFbtoUR2x1FsBUcACLcBGAs/s1600/onibus-escolar.png" class="img-rounded" style="height: 400px" alt="onibus">
    
    </div>
    <br>
    <div class="w-50" class="center" style="background-color: rgb(238, 227, 79)">
      <h1 class="text-center">
        <b>CONSULTA DE ROTAS</b>
      </h1>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-dark btn-lg">ACESSAR</button>
    </div>
  </body>
</html>

