<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="first-slide" src="https://icdn-5.motor1.com/images/mgl/LVJJR/s1/onibus-escolar.jpg" alt="First slide">
        <div class="container">
          <div class="carousel-caption text-left">
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Cadastre-se</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>One more for good measure.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://www.shareicon.net/download/2017/01/04/868194_clock_512x512.png" width="140" height="140">
        <h2>Horários</h2>
        <p>Consulte os horários aproximados, de saída e chegada, de todos os tranportes escolares que circulam na cidade de Maceió!</p>
        <p><a class="btn btn-secondary" href="#" role="button">Saiba mais &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOQl58ZjoNwOaPPRon2777_OZDs-R_eY0GXYLyF0cZGu2_ZA8JaQ" alt="Generic placeholder image" width="140" height="140">
        <h2>Rotas</h2>
        <p>Veja as rotas de todos os ônibus, saiba os pontos de paradas e mantenha-se sempre atualizado sobre as mudanças de intinerários.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Saiba mais &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://png.pngtree.com/element_origin_min_pic/16/06/20/235768077be9788.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Avisos</h2>
        <p>Se você é um estudante cadastro pode visualizar os avisos do motorista, assim, caso aconteça um imprevisto, você saberá!</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Acompanhe o seu ônibus em tempo real!</h2>
        <p class="lead">Logo em breve será adicionado uma nova feature onde será possível ter a localização do seu ônibus em tempo real. Nunca mais saia cedo da aula com medo de não chegar a tempo!</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="../../assets/mapa_alagoas.png" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Descubra as rotas das linhas de ônibus.</h2>
        <p class="lead">Com o BusED é fácil ter acesso a todos os itinerários dos ônibus escolares cadastrados. Pontos de ônibus, Faculdades, horários e muito mais.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="https://thumbs.dreamstime.com/z/rendi%C3%A7%C3%A3o-d-do-itiner%C3%A1rio-do-transporte-71098637.jpg" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Cadastre-se já, é de graça!</h2>
        <p class="lead">Se você mora no interior e é aluno(a) de alguma falculdade e/ou universidade cadastrada em nosso sistema e precisa de auxilio de transporte para ir estudar, aqui é o lugar certo!</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="https://www.shareicon.net/download/2016/12/30/866934_student.svg" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


<!-- <!DOCTYPE html>
<html>
  <body>

    <div class="text-center">
      <br><br><br>
      <img src="https://2.bp.blogspot.com/-0YPFcWHPmng/Wmh-T3j2bhI/AAAAAAAAjG8/OCGuh44M7j0baKbcKZFbtoUR2x1FsBUcACLcBGAs/s1600/onibus-escolar.png" class="img-rounded" style="height: 400px" alt="onibus">
    
    </div>
    <br>
    <div class="w-50" class="center" style="background-color: rgb(238, 227, 79)">
      <h1 class="text-center">
        <b>CONSULTA DE ROTAS</b>
      </h1>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-dark">ACESSAR</button>
    </div>
  </body>
</html> -->

