<br><h3> Dúvidas Frequentes:</h3><br>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Este site mostra o horário exato das paradas dos ônibus?</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">Não. O que exibimos são os horários aproximados que foram repassados pelas empresas dos transportes escolares.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Posso confiar nas rotas que são exibidas no site?</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">Sim. Sempre que há mudança nas rotas, o site é atualizado.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Minha faculdade não aparece na lista, o que fazer?</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">Entre em contato com (82) 3333-3333 ou pelo através do e-mail emailadm@gmail.com e solicite a inclusão da sua faculdade. </div>
    </div>
  </div>
</div>
